<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - Links</title>
</head>
<body>
<span> Facebook :   <a href={{Facebook}}> click </a> <br></span>
    <span> Google : <a href={{Google}}> click </a> </span><br>
    <span> Instagram : <a href={{Instagram}}> click </a></span> <br>
    <span> Whatsapp : <a href={{Whatsapp}}> click </a></span> <br>
    <span> Twitter : <a href={{Twitter}}> click </a></span>
    <br> <br>
    <a href="http://127.0.0.1:8000/"> back </a>

</body>
</html>